<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Connexion Médecin</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/medecin/medecin.css') }}">
</head>
<body>
    <div class="login-container">
        <h2>Connexion Médecin</h2>

        <!-- Message flash (succès ou erreur) -->
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="flash {{ category }}">{{ message }}</div>
            {% endfor %}
          {% endif %}
        {% endwith %}

        <form method="POST">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required>

            <label for="password">Mot de passe</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Se connecter</button>
        </form>

        <p class="redirect">
            Vous n'avez pas encore de compte ? 
            <a href="{{ url_for('register_medecin') }}">Créez-en un ici</a>
        </p>
    </div>
</body>
</html>
